<div class="relative overflow-x-auto shadow-md sm:rounded-lg my-2">
  <table class="w-full text-sm text-left rtl:text-right">
    <thead class="text-xs bg-gray-500 text-amber-200">
      <tr>
        <th scope="col" class="px-6 py-3 text-sm">Price</th>
        <th scope="col" class="px-6 py-3 text-sm">Created at</th>
        <th scope="col" class="px-6 py-3 text-sm">Due date</th>
      </tr>
    </thead>
    <tbody>
        <tr class="border-b border-gray-200">
          <td class="px-6 py-4"><%= invoice.price %></td>
          <td class="px-6 py-4"><%= invoice.created_at.to_date %></td>
          <td class="px-6 py-4"><%= invoice.due_date %></td>
        </tr>
    </tbody>
  </table>
</div>
