<table class="bg-white rounded-sm overflow-hidden mb-6">
  <thead class="border-b border-gray-200">
    <tr>
      <th class="px-6 py-3 text-left font-medium">Price</th>
      <th class="px-6 py-3 text-left font-medium">Created_at</th>
      <th class="px-6 py-3 text-left font-medium">Due_date</th>
    </tr>
  </thead>
  <tbody class="divide-y divide-gray-200">
    <% bills.each do |bill| %>
      <tr class="hover:bg-gray-50">
        <td class="px-6 py-4 font-medium"><%= bill.price %></td>
        <td class="px-6 py-4"><%= bill.created_at.to_date %></td>
        <td class="px-6 py-4"><%= bill.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
